<span style="font-weight: bold;font-size:16px">
		[선택조건] IsSaaS : <label style="color: red;vertical-align:inherit;" id="Mail_selectIsSaaS"></label>, 
		DB Type: <label style="color: red;vertical-align:inherit;" id="Mail_selectDB"></label> ,
		WEB/WAS Type : <label style="color: red;vertical-align:inherit;" id="Mail_selectWAS"></label> <br> 
</span>

<div style="width: 100%; height: 50px;">
	<div style="float: right; margin-bottom: 10px;">
	<div class="selBox">
	    <a id="chkAllBtn" class="btnTypeDefault" style="" onclick="searchMail();">검색</a>
	</div>
	<div class="selBox">
	    <a id="A3" class="btnTypeDefault" style="" onclick="mailExcelDown();">엑셀저장</a>
	    </div>
	</div>
</div>

<div id="mailGridArea" class="pad10"></div>