<!DOCTYPE HTML>
<HTML>
<head>
<meta charset="utf-8">

</head>
<span style="font-weight: bold;font-size:16px">
		[선택 조건] IsSaaS : <label style="color: red;vertical-align:inherit;" id="Eumtalk_selectIsSaaS"></label>, DB Type: <label style="color: red;vertical-align:inherit;" id="Eumtalk_selectDB"></label> , WEB/WAS Type : <label style="color: red;vertical-align:inherit;" id="Eumtalk_selectWAS"></label>
</span>

<!-- 파일 내용 -->
<input type = "hidden" id="inputEumtalkFile">

<div style="width: 100%; height: 50px;">
	<div style="float: right; margin-bottom: 10px;">
	    <div class="selBox">
	        <a id="eumtalkChkAllBtn" class="btnTypeDefault" style="">검색</a>
	    </div>
	    <div class="selBox">
	        <a id="A3" class="btnTypeDefault" style="" onclick="excelDownload();">엑셀저장</a>
	    </div>
    </div>
</div>

<div id="EumtalkDataList" class="pad10"></div>

</HTML>