
<span style="font-weight: bold;font-size:16px">
		[선택 조건] IsSaaS : <label style="color: red;vertical-align:inherit;" id="Infra_selectIsSaaS"></label>, DB Type: <label style="color: red;vertical-align:inherit;" id="Infra_selectDB"></label> , WEB/WAS Type : <label style="color: red;vertical-align:inherit;" id="Infra_selectWAS"></label>
</span>

<!-- 파일 내용 -->
<input type = "hidden" id="inputInfraFile">

<div style="width: 100%; height: 50px;">
	<div style="float: right; margin-bottom: 10px;">
	    <div class="selBox">
	        <a id="chkAllBtn" class="btnTypeDefault" style="" onclick="SearchInfra();">검색</a>
	    </div>
	    <div class="selBox">
	        <a id="A3" class="btnTypeDefault" style="" onclick="excelDownload();">엑셀저장</a>
	    </div>
    </div>
</div>

<div id="infraDataList" class="pad10"></div>