<html>
<head>
	<style type="text/css">
		p { margin-top: 0px; margin-bottom: 0px } body { font-family:맑은 고딕,malgun gothic; font-size:10pt} p { line-height:1.5 }
	</style>
</head>
<body>
	<p><br></p>
	<p style="color: #000000; font-family: '맑은 고딕', monospace; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-size: 14.6667px; display: block; float: none; padding: 0px; margin: 0px; line-height: 1.5;" >
		▣ 커리큘럼명 :&nbsp;<strong>OOOO 교육</strong>
		
		<span style="box-sizing: border-box; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; text-align: left; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;">
			<br>
			▣ 일정 : (1회)&nbsp;
			<strong style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: left; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
				OO월 OO일 (O요일)</strong>&nbsp;/ (2회)&nbsp;
			<strong style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: left; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
				OO월 OO일 (O요일)</strong>&nbsp;
			<br>
			▣ 교육 시간 : O시간 (강사 : OOO팀 OOO 차장)
			<br>
			▣ 장소 : OOO호 회의실
			<br>
			▣ 대상자 : 사원
			<br>
			▣ 사전 준비사항 : 노트북
		</span>
	</p>
	
	<p><br></p>

	<table style="letter-spacing: normal; orphans: 2; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; border-collapse: collapse; border-spacing: 0px; table-layout: auto; width: 830px; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; line-height: 1.5; text-align: start; text-indent: 0px; display: table; float: none; padding: 0px; margin: 0px; height: 200px;" border="0" width="1368" cellspacing="0" cellpadding="0">
		<colgroup style="box-sizing: border-box; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column-group; float: none; padding: 0px; margin: 0px;">
			<col style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column; float: none; padding: 0px; margin: 0px;" >
			<col style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column; float: none; padding: 0px; margin: 0px;" >
			<col style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column; float: none; padding: 0px; margin: 0px;" >
			<col style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column; float: none; padding: 0px; margin: 0px;" >
		</colgroup>
		<tbody style="box-sizing: border-box; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-row-group; float: none; padding: 0px; margin: 0px;">
			<tr style="box-sizing: border-box; height: 38px; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-row; float: none; padding: 0px; margin: 0px;" >
				<td style="box-sizing: border-box; height: 38px; width: 111.5px; text-align: center; border-width: 1px 1px 3px; border-style: solid solid double; border-color: windowtext; background: #b4c6e7; padding: 1px 1px 0px; color: black; font-size: 11pt; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px;" width="112" height="38">
					<strong style="box-sizing: border-box; font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;">
						교육항목
					</strong>
				</td>
				<td style="box-sizing: border-box; border-left: none; width: 509.85px; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 3px double windowtext; background: #b4c6e7; padding: 1px 1px 0px; color: black; font-size: 11pt; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 38px;" width="674" >
					<strong style="box-sizing: border-box; font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
						상세 교육내용
					</strong>
				</td>
				<td style="box-sizing: border-box; border-left: none; width: 122.425px; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 3px double windowtext; background: #b4c6e7; padding: 1px 1px 0px; color: black; font-size: 11pt; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 38px;" width="79" >
					<strong style="box-sizing: border-box; font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
						강의시간
					</strong>
				</td>
				<td style="box-sizing: border-box; border-left: none; width: 85.425px; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 3px double windowtext; background: #b4c6e7; padding: 1px 1px 0px; color: black; font-size: 11pt; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 38px;" width="104" >
					<strong style="box-sizing: border-box; font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
						교육방법
					</strong>
				</td>
			</tr>
			<tr style="box-sizing: border-box; height: 62px; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-row; float: none; padding: 0px; margin: 0px;" >
				<td style="box-sizing: border-box; height: 62px; text-align: center; border-top: none; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; width: 111.5px;" height="83" >
					OOOO
				</td>
				<td style="box-sizing: border-box; border-left: none; width: 509.85px; border-top: none; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; background: white; padding: 1px 1px 0px; vertical-align: middle; border-image: initial; text-align: start; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 62px; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px;" width="674" >
					<span style="box-sizing: border-box; font-family: '맑은 고딕', monospace; font-size: 13.3333px; text-align: start; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
						<span style="box-sizing: border-box; font-size: 14.6667px; font-family: '맑은 고딕', monospace; text-align: start; text-indent: 0px; display: inline; float: none; padding: 0px; margin: 0px;" >
							&nbsp;- OOOO 설명
						</span>
					</span>
				</td>
				<td style="box-sizing: border-box; border-left: none; text-align: center; border-top: none; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 62px; width: 122.425px;" >
					<p style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: block; float: none; padding: 0px; margin: 0px;" >
						09:00 ~ 09:30
					</p>
					<p style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: block; float: none; padding: 0px; margin: 0px;" >
						(0.5h)
					</p>
				</td>
				<td style="box-sizing: border-box; border-left: none; text-align: center; border-top: none; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 62px; width: 85.425px;" >
					강의
				</td>
			</tr>
			<tr style="box-sizing: border-box; height: 62px; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-row; float: none; padding: 0px; margin: 0px;" >
				<td style="box-sizing: border-box; height: 62px; border-top: none; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; border-image: initial; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; width: 111.5px;" height="81" >
					OOOO
				</td>
				<td style="box-sizing: border-box; border-top: none; border-left: none; width: 509.85px; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; background: white; white-space: normal; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; text-align: start; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 63px;" width="674" >
					<p style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; line-height: 1.5; font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: start; text-indent: 0px; display: block; float: none;" >
						&nbsp;- OOOO 필요성
					</p>
				</td>
				<td style="box-sizing: border-box; border-top: none; border-left: none; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 63px; line-height: 1.5; width: 122.425px;" >
					<p style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: block; float: none; padding: 0px; margin: 0px;" >
						09:30 ~ 10:30
					</p>
					<p style="font-family: '맑은 고딕', monospace; font-size: 14.6667px; text-align: center; text-indent: 0px; display: block; float: none; padding: 0px; margin: 0px;" >
						(1h)
					</p>
				</td>
				<td style="box-sizing: border-box; border-top: none; border-left: none; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; background: white; padding: 1px 1px 0px; color: black; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: '맑은 고딕', monospace; vertical-align: middle; white-space: nowrap; text-indent: 0px; display: table-cell; float: none; margin: 0px; height: 63px; line-height: 1.5; width: 85.425px;" >
					강의
				</td>
			</tr>
		</tbody>
		<colgroup style="box-sizing: border-box; font-family: '맑은 고딕', 'malgun gothic'; font-size: 13.3333px; text-align: start; text-indent: 0px; display: table-column-group; float: none; padding: 0px; margin: 0px;" >
		</colgroup>
	</table>
	<p><br></p>
</body>
</html>