<html>
<body>
	<p style="word-break: keep-all; line-height: 140%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 20pt; color: rgb(0, 0, 0); text-align: center;" >
		<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 20pt;" >회의록</span>
	</p>
	<p style="word-break: keep-all; line-height: 140%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 20pt; color: rgb(0, 0, 0);" >
		<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
			<br>
		</span>
	</p>
	<table style="border-collapse: collapse; table-layout: fixed; border: none;" align="center" >
		<tbody>
			<tr>
				<td style="background: #b4c6e7; width: 49.65pt; height: 21.54pt; padding: 0.00pt 0.00pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: none; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -5pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >회의일시</span>
					</p>
				</td>
				<td style="width: 189.60pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
							<span style="letter-spacing: 0pt; text-align: center;" >
								<strong style="text-align: center;" >2023 </strong>
							</span>
							<span style="text-align: center;" >
								<strong style="text-align: center;" >년 </strong>
							</span>
							<span style="letter-spacing: 0pt; text-align: center;" >
								<strong style="text-align: center;" >00 </strong>
							</span>
							<span style="text-align: center;" >
								<strong style="text-align: center;" >월 </strong>
							</span>
							<span style="letter-spacing: 0pt; text-align: center;" >
								<strong style="text-align: center;" >00 </strong>
							</span>
							<span style="text-align: center;" >
								<strong style="text-align: center;" >일</strong>
							</span>
						</span>
					</p>
				</td>
				<td style="background: #b4c6e7; width: 49.59pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" colspan="2" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >부서</span>
					</p>
				</td>
				<td style="width: 78.00pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
							<span style="text-align: center;" >연구</span>
							<span style="letter-spacing: 0pt; text-align: center;" >2</span>
							<span style="text-align: center;" >팀</span>
						</span>
					</p>
				</td>
				<td style="background: #b4c6e7; width: 42.50pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" colspan="2" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >작성자</span>
					</p>
				</td>
				<td style="width: 81.94pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt; text-align: center;" >홍길동</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="background: #b4c6e7; width: 49.65pt; height: 21.54pt; padding: 0.00pt 0.00pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: none; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -5pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >참석자</span>
					</p>
				</td>
				<td style="width: 441.63pt; height: 21.54pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: solid #000000 1px; border-right: none;" colspan="7" valign="middle" >
					<p style="margin: 0pt 0pt 0pt 4pt; line-height: 160%; text-indent: 0pt; text-align: center; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0);" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
							<span style="text-align: center;" >코비젼 연구</span>
							<span style="letter-spacing: 0pt; text-align: center;" >2</span>
							<span style="text-align: center;" >팀 </span>
							<span style="letter-spacing: 0pt; text-align: center;" >OOO </span>
							<span style="text-align: center;" >팀장</span>
							<span style="letter-spacing: 0pt; text-align: center;" >, OOO </span>
							<span style="text-align: center;" >과장</span>
						</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="width: 491.28pt; height: 2.82pt; padding: 1.41pt 5.1pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 3px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="8" valign="middle" >
					<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000;" >
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td style="background: #b4c6e7; width: 49.65pt; height: 60.82pt; padding: 0.00pt 0.00pt 4.25pt 0.00pt; border-top: solid #000000 3px; border-left: none; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -5pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >회의안건</span>
					</p>
				</td>
				<td style="width: 441.63pt; height: 60.82pt; padding: 4.25pt 4.25pt 4.25pt 0.00pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: solid #000000 1px; border-right: none;" colspan="7" valign="middle" >
					<ol>
						<li style="line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-align: left;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
								<span style="text-align: center;" >요구사항 분석 및 정리</span>
								<span style="letter-spacing: 0pt; text-align: center;" >.</span>
							</span>
						</li>
						<li style="line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-align: left;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
								<span style="text-align: center;" >업무 분담 및 담당자 배정</span>
								<span style="letter-spacing: 0pt; text-align: center;" >.</span>
							</span>
						</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td style="width: 49.65pt; height: 14.11pt; padding: 0.00pt 0.00pt 4.25pt 0.00pt; border-top: solid #000000 1px; border-left: none; border-bottom: solid #000000 3px; border-right: none;" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -5pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
							<strong style="text-align: center;" >&nbsp;</strong>
						</span>
					</p>
				</td>
				<td style="width: 441.63pt; height: 14.11pt; padding: 4.25pt 4.25pt 4.25pt 0pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 3px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="7" valign="middle" >
					<p style="font-size: 8.5pt; line-height: 160%; margin: 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; color: #000000;" >
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td style="background: #b4c6e7; width: 49.65pt; height: 230.61pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: none; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" rowspan="2" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -4.7pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >회의내용</span>
					</p>
				</td>
				<td style="background: #b4c6e7; width: 323.13pt; height: 11.32pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" colspan="5" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >내용</span>
					</p>
				</td>
				<td style="background: #b4c6e7; width: 118.50pt; height: 11.32pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="2" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >비고</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="width: 323.13pt; height: 219.29pt; padding: 7.09pt 5.67pt 4.25pt 0.00pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" colspan="5" valign="top" >
					<p style="font-size: 8.5pt; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; color: rgb(0, 0, 0); text-align: left;" >
						<br>
					</p>
					<ol>
						<li>
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
								<span style="text-align: center;" >요구사항 분석 및 정리</span>
								<span style="letter-spacing: 0pt; text-align: center;" >.</span>
							</span>
							<ol style="list-style-type: lower-alpha;" >
								<li>
									<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000; text-align: left;" >
										<span style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 12pt;" >
											<span style="text-align: center;" >요구사항 분석 결과 공유</span>
										</span>
									</p>
								</li>
								<li>
									<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000; text-align: left;" >
										<span style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 12pt;" >
											<span style="text-align: center;" ></span>
										</span>
									</p>
									<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: #000000; text-align: left;" >
										<span style="font-family: '맑은 고딕', 'malgun gothic'; font-size: 12pt;" >
											<span style="text-align: center;" >요구사항 세부 정리</span>
										</span>
									</p>
									<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
										<span style="letter-spacing: 0pt; text-align: center;" >
											<br>
										</span>
									</span>
								</li>
							</ol>
						</li>
						<li>
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
								<span style="letter-spacing: 0pt; text-align: center;" >
									<span style="color: rgb(0, 0, 0); font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;" >업무 분담 및 담당자 배정</span>
									<span style="color: rgb(0, 0, 0); font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: 0pt; orphans: 2; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;" >.</span>
								</span>
							</span>
							<ol style="list-style-type: lower-alpha;" >
								<li>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">OOO </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">담당자 </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">: OOO </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">과장</span>
									<br>
								</li>
								<li>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">OOO </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">담당자 </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">: OOO </span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">사원</span>
									<span style="font-size: 12pt; letter-spacing: 0pt; text-indent: 0pt; text-align: center;">.</span>
									<br>
								</li>
							</ol>
						</li>
					</ol>
				</td>
				<td style="width: 118.5pt; height: 219.29pt; padding: 7.09pt 5.67pt 4.25pt 0pt; border-top: 1px dotted rgb(0, 0, 0); border-left: 1px dotted rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="2" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td style="width: 49.65pt; height: 19.84pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 1px; border-left: none; border-bottom: solid #000000 3px; border-right: none;" valign="middle" >
					<p style="margin: 0pt 0pt 0pt -4.7pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
						<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
							<strong style="text-align: center;" >&nbsp;</strong>
						</span>
					</p>
				</td>
				<td style="width: 323.13pt; height: 19.84pt; padding: 7.09pt 5.67pt 4.25pt 0pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 3px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="5" valign="top" >
					<p style="font-size: 8.5pt; line-height: 160%; margin: 0pt; text-indent: 0pt; text-align: justify; vertical-align: baseline; letter-spacing: 0pt; color: #000000;" >
						<br>
					</p>
				</td>
				<td style="width: 118.5pt; height: 19.84pt; padding: 7.09pt 5.67pt 4.25pt 0pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 1px dotted rgb(0, 0, 0); border-right: none; text-align: center;" colspan="2" valign="middle" >
					<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
						<br>
					</p>
				</td>
			</tr>
				<tr>
					<td style="background: #b4c6e7; width: 49.65pt; height: 111.70pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: none; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" rowspan="5" valign="middle">
						<p style="margin: 0pt 0pt 0pt -5.7pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >결정사항</span>
						</p>
					</td>
					<td style="background: #b4c6e7; width: 219.69pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >내용</span>
						</p>
					</td>
					<td style="background: #b4c6e7; width: 221.94pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >진행일정</span>
						</p>
					</td>
				</tr>
				<tr>
					<td style="width: 219.69pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border: dotted #000000 1px;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >분석</span>
						</p>
					</td>
					<td style="width: 221.94pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="letter-spacing: 0pt; text-align: center; font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >2023. . ~ 2023. . </span>
						</p>
					</td>
				</tr>
				<tr>
					<td style="width: 219.69pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border: dotted #000000 1px;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >설계</span>
						</p>
					</td>
					<td style="width: 221.94pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="letter-spacing: 0pt; text-align: center; font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >2023. . ~ 2023. . </span>
						</p>
					</td>
				</tr>
				<tr>
					<td style="width: 219.69pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border: dotted #000000 1px;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >구현</span>
						</p>
					</td>
					<td style="width: 221.94pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="letter-spacing: 0pt; text-align: center; font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >2023. . ~ 2023. . </span>
						</p>
					</td>
				</tr>
				<tr>
					<td style="width: 219.69pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: solid #000000 1px; border-right: dotted #000000 1px;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >테스트</span>
						</p>
					</td>
					<td style="width: 221.94pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: dotted #000000 1px; border-left: dotted #000000 1px; border-bottom: solid #000000 1px; border-right: none;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="letter-spacing: 0pt; text-align: center; font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >2023. . ~ 2023. . </span>
						</p>
					</td>
				</tr>
				<tr>
					<td style="width: 49.65pt; height: 22.34pt; padding: 0.00pt 5.40pt 0.00pt 5.40pt; border-top: solid #000000 1px; border-left: none; border-bottom: solid #000000 3px; border-right: none;" valign="middle" >
						<p style="margin: 0pt 0pt 0pt -5.7pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; font-size: 12pt;" >
								<strong style="text-align: center;" >&nbsp;</strong>
							</span>
						</p>
					</td>
					<td style="width: 219.69pt; height: 22.34pt; padding: 0pt 5.4pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 3px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="2" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<br>
						</p>
					</td>
					<td style="width: 221.94pt; height: 22.34pt; padding: 0pt 5.4pt; border-top: 1px solid rgb(0, 0, 0); border-left: none; border-bottom: 3px solid rgb(0, 0, 0); border-right: none; text-align: center;" colspan="5" valign="middle" >
						<p style="text-align: center; word-break: keep-all; line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 8.5pt; color: #000000;" >
							<br>
						</p>
					</td>
				</tr>
				<tr>
					<td style="background: #b4c6e7; width: 49.65pt; height: 81.64pt; padding: 4.25pt 0.00pt 0.00pt 0.00pt; border-top: solid #000000 3px; border-left: none; border-bottom: dotted #000000 1px; border-right: dotted #000000 1px;" valign="middle" >
						<p style="margin: 0pt 0pt 0pt -5pt; text-align: center; word-break: keep-all; line-height: 160%; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-weight: bold; font-size: 8.5pt; color: #000000;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >특이사항</span>
						</p>
					</td>
					<td style="width: 441.63pt; height: 81.64pt; padding: 7.09pt 5.67pt 0.00pt 0.00pt; border-top: solid #000000 3px; border-left: dotted #000000 1px; border-bottom: dotted #000000 1px; border-right: none;" colspan="7" valign="top" >
						<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-align: center;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >
								<strong style="text-align: center;" >
									<br >
								</strong>
							</span>
						</p>
						<p style="line-height: 160%; margin: 0pt; text-indent: 0pt; vertical-align: baseline; letter-spacing: 0pt; font-size: 10pt; color: rgb(0, 0, 0); text-align: center;" >
							<span style="font-family: &quot;맑은 고딕&quot;, &quot;malgun gothic&quot;; text-align: center; font-size: 12pt;" >
								<strong style="text-align: center;" >없음</strong>
							</span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>