@charset "utf-8";
/*  common */
html,body{height:100%}
body,h1,h2,h3,h4,h5,form,fieldset,p,button,ul,ol,li,dl,dt,dd,div,span{margin:0;padding:0}
body,h1,h2,h3,h4,input,button,select,textarea,div, p, table{font-family:"맑은 고딕", Malgun Gothic,"돋움",Dotum, Sans-serif;}
body{padding:0;margin:0;text-align:left;-ms-word-break: break-all;background-color:#fff;}
img,fileldset,iframe{border:0}
li {padding:0;margin:0;list-style:none}
img{vertical-align:top}
i,em,address{font-style:normal}
a {text-decoration:none;color:inherit;}
a:active, a:focus{outline:none}
a:hover {text-decoration:none}
iframe {vertical-align:top}
.show {display:block}
.hide {display:none}
.blind, legend{left:0px;top:-1000em;overflow:hidden;display:block;position:absolute}
.ellipsis {overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis}
.mt10{margin-top:10px !important;}
.f14{font-size:14px;}
.covihelp_app * { box-sizing:border-box; }
.p-0 {padding: 0 !important;}
.pt-10 {padding-top: 10px !important;}
.pt-20 {padding-top: 20px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-20 {padding-bottom: 20px !important;}
.subbox_txt.active { color: #4A55E9; }
/** layout **/
.covihelp_app { height:100%;display:flex; flex-direction:column; }
.covihelp_header_box { flex:0 0 60px; height:60px;}
.covihelp_containder { flex:1 0 calc(100% - 60px); display:flex; height:calc(100% - 60px); }
.covihelp_containder .covihelp_content_left { flex: 0 0 280px; width:280px; height:100%; overflow:hidden ; }
.covihelp_containder .covihelp_content_right { flex: 0 0 auto; width:calc(100% - 280px); height:100%; overflow:hidden auto; }

/* scroll */
.simplebar-track { right:3px; }
.simplebar-track.simplebar-vertical { width:8px; }
.simplebar-scrollbar.simplebar-visible:before { opacity:0.2;}
/** header **/
.covihelp_header_box { background:#363639; }
.covihelp_header_box .covihelp_header { padding:0 30px; height:inherit; display:flex; align-items:center; }
.covihelp_header_box .covihelp_header .dext5_logo { width:221px; height:26px; background:url('../images/logo.png') 0 0 no-repeat; text-indent:-999999px; }

/** lnb **/	
.covihelp_content_left { display:flex; flex-direction:column; background:#F4F5F9;}
.covihelp_content_left .title2 { flex: 0 0 auto; padding:18px 30px; font-size:18px; font-weight:800; color:#000; border-bottom:1px solid #fff; }
.covihelp_content_left .lnb_list { flex: 1 1 auto; max-height:100%; overflow: auto; }
.covihelp_content_left .title { position:relative; padding:12px 30px; font-size:16px; font-weight:400; color:#000; border-bottom:1px solid #fff; cursor:pointer; }
.covihelp_content_left .title a { font-weight:inherit; }
.covihelp_content_left .title::before { content:''; display:block; position:absolute; left:0; top:0; width:6px; height:100%; background:transparent }
.covihelp_content_left .title::after { content:''; display:block; position:absolute; right:30px; top:19px; width:12px; height:7px; background-image:url('../images/lnb_arrow.png'); background-position:0 -17px; background-repeat:no-repeat; }
.covihelp_content_left .title:hover { color:#4A55E9; font-weight:800;  }
.covihelp_content_left .title:hover::before { background:#4A55E9; }
.covihelp_content_left .title:hover::after { background-position:0 0; }

.covihelp_content_left .title.active { color:#4A55E9; font-weight:800; }
.covihelp_content_left .title.active::before { background:#4A55E9; }
.covihelp_content_left .title.active::after { transform:rotate(180deg); background-position:0 0; }

.covihelp_content_left .subbox { display:none; }
.covihelp_content_left .subbox.active { display:block; padding-left:44px; }
.covihelp_content_left .subbox li { margin: 6px 0; }
.covihelp_content_left .subbox li a { display:block; padding-right:20px; font-size:14px; line-height:20px; min-height:20px; color:#5C5C62; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
.covihelp_content_left .subbox li.active a { color:#4A55E9; font-weight:800; }

/* content */
.covihelp_content_right .right_con{ font-size:14px; color:#363639; padding:20px 60px 60px 60px; }
.covihelp_content_right .title01 { font-size:24px; line-height:32px; padding-bottom:10px; border-bottom:1px solid #E0E1E3;}
.covihelp_content_right .title02 { margin:0 0 16px 0; padding-top:50px; font-size:20px; font-weight:700; }
.covihelp_content_right .manual_txt{margin-bottom:16px; overflow:hidden;}

.covihelp_content_right .num05 { font-weight:600; padding-right:4px;}
.covihelp_content_right .num06 { font-weight:600; color:#4A55E9}
.covihelp_content_right .num07 { }
.covihelp_content_right .point { color:#D60C0C; }

.covihelp_content_right .table{margin:5px 5px 10px 5px;}
.covihelp_content_right .table td, .manual .wrap .manual_content .table th { width: 30px; height: 30px; border:solid 1px #000000;} 
.covihelp_content_right .table  caption {padding:5px 0 3px 0; color:#666666; }

.covihelp_content_right .manual_con img { display:block; margin:12px 0; max-width:100%;}

.covihelp_content_right .manual_con p + p { margin-top:1em; }

.covihelp_content_right .manual_list li { position:relative; padding-left:20px; margin-bottom:6px;}
.covihelp_content_right .manual_list li:last-child { margin-bottom:0; }
.covihelp_content_right .manual_list li span.num05 { position:absolute; left:0; top:0; padding-right:0;}

.covihelp_content_right .bulleted_paragraph { display:block; position:relative; padding-left:1.2em; }
.covihelp_content_right .bulleted_paragraph .bullet { position:absolute; left:0; top:0; }

.covihelp_content_right .s_txt { font-size:13px;}

/* index */
.covihelp_content_right.index .right_con{ padding-top:60px; }
.covihelp_content_right.index .main_banner{ min-height:180px; padding:37px 40px; border-radius:12px; background:url('../images/index_img.png') right calc(100% - 6px) #EEF0F6 no-repeat;}
.covihelp_content_right.index .main_banner h2{font-size:24px; font-weight:600; margin-bottom:26px;}
.covihelp_content_right.index .main_banner p{font-size:16px; line-height:25px; font-weight: 400;}
.covihelp_content_right.index article h3 { margin-top:50px; font-size:16px; font-weight:800; line-height:22px;margin-bottom:8px; }
.covihelp_content_right.index .list_table { border-top:1px solid #5A5B64 }
.covihelp_content_right.index .list_table > li { display:flex; border-bottom:1px solid #E0E1E3}
.covihelp_content_right.index .list_table .list_table_title,
.covihelp_content_right.index .list_table .list_table_content { min-height:40px; padding:10px 0; line-height:18px; font-size:14px; }
.covihelp_content_right.index .list_table .list_table_title { flex: 0 0 140px; min-height:40px; font-weight: 800;  }
.covihelp_content_right.index .list_table .list_table_content { flex: 1 1 auto; padding-left:10px; }
.covihelp_content_right.index .list_colon {} 
.covihelp_content_right.index .list_colon > li { display:flex; margin-bottom:8px; } 
.covihelp_content_right.index .list_colon .list_colon_title { position:relative; flex: 0 0 68px; } 
.covihelp_content_right.index .list_colon .list_colon_title::after { content:':'; display:block; position:absolute; right:0; top:0; } 
.covihelp_content_right.index .list_colon .list_colon_content { flex: 1 1 auto; padding-left:6px; } 

/* hotkey table */

.hotkey_table {
  width: 700px;
  border-color: #000;
}
.hotkey_table thead {
  border-bottom: 1px solid #000;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}
/* .hotkey_table thead tr th:nth-child(1) {
  text-align: left;
} */

.hotkey_table thead tr {
  text-align: center;
}

.hotkey_table tbody {
  border: 1px solid #000 !important;

}

.hotkey_table tbody tr {
  border-bottom: 1px solid #000;
  height: 25px;
  line-height: 25px;
}
.hotkey_table tbody tr td:nth-child(1) {
  width: 400px;
  text-align: left;
  text-indent: 10px;
}
.hotkey_table tbody tr td {
  width: 170px;
  text-align: center;
}

/* menu list icon */
.covihelp_content_left .subbox li a i[data-icon] { display:inline-block; position:relative; vertical-align:top; height:20px; width:20px; margin-right:4px; background-image:url(../images/icon_all.png); background-repeat:no-repeat; }

.covihelp_content_left .subbox li a i[data-icon='none'] { background-image:none; }
.covihelp_content_left .subbox li a i[data-icon='none']::before { content:''; display:block; position:absolute; width:12px; height:12px; background:#C0C0C0; border-radius: 50%; left:50%; top:50%; transform: translate(-50%,-50%); }

.covihelp_content_left .subbox li a i[data-icon="icon1_01"] { background-position:0px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_02"] { background-position:-30px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_03"] { background-position:-60px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_04"] { background-position:-90px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_05"] { background-position:-120px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_06"] { background-position:-150px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_07"] { background-position:-180px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_08"] { background-position:-210px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_09"] { background-position:-240px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_10"] { background-position:-270px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_11"] { background-position:-300px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_12"] { background-position:-330px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_13"] { background-position:-360px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_14"] { background-position:-390px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_15"] { background-position:-420px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_16"] { background-position:-450px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_17"] { background-position:-480px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_18"] { background-position:-510px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_19"] { background-position:-540px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_20"] { background-position:-570px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_21"] { background-position:-600px 0px; }
.covihelp_content_left .subbox li a i[data-icon="icon1_22"] { background-position:-630px 0px; }

.covihelp_content_left .subbox li a i[data-icon="icon2_01"] { background-position:0px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_02"] { background-position:-30px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_03"] { background-position:-60px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_04"] { background-position:-90px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_05"] { background-position:-120px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_06"] { background-position:-150px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_07"] { background-position:-180px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_08"] { background-position:-210px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_09"] { background-position:-240px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_10"] { background-position:-270px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_11"] { background-position:-300px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_12"] { background-position:-330px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_13"] { background-position:-360px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_14"] { background-position:-390px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_15"] { background-position:-420px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_16"] { background-position:-450px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_17"] { background-position:-480px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_18"] { background-position:-510px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_19"] { background-position:-540px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_20"] { background-position:-570px -30px; }
.covihelp_content_left .subbox li a i[data-icon="icon2_21"] { background-position:-600px -30px; }

.covihelp_content_left .subbox li a i[data-icon="icon3_01"] { background-position:0px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_02"] { background-position:-30px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_03"] { background-position:-60px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_04"] { background-position:-90px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_05"] { background-position:-120px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_06"] { background-position:-150px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_07"] { background-position:-180px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_08"] { background-position:-210px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_09"] { background-position:-240px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_10"] { background-position:-270px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_11"] { background-position:-300px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_12"] { background-position:-330px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_13"] { background-position:-360px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_14"] { background-position:-390px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_15"] { background-position:-420px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_16"] { background-position:-450px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_17"] { background-position:-480px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_18"] { background-position:-510px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_19"] { background-position:-540px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_20"] { background-position:-570px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_21"] { background-position:-600px -60px; }
.covihelp_content_left .subbox li a i[data-icon="icon3_22"] { background-position:-630px -60px; }

.covihelp_content_left .subbox li a i[data-icon="icon4_01"] { background-position:0px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_02"] { background-position:-30px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_03"] { background-position:-60px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_04"] { background-position:-90px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_05"] { background-position:-120px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_06"] { background-position:-150px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_07"] { background-position:-180px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_08"] { background-position:-210px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_09"] { background-position:-240px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_10"] { background-position:-270px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_11"] { background-position:-300px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_12"] { background-position:-330px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_13"] { background-position:-360px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_14"] { background-position:-390px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_15"] { background-position:-420px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_16"] { background-position:-450px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_17"] { background-position:-480px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_18"] { background-position:-510px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_19"] { background-position:-540px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_20"] { background-position:-570px -90px; }
.covihelp_content_left .subbox li a i[data-icon="icon4_21"] { background-position:-600px -90px;}
.covihelp_content_left .subbox li a i[data-icon="icon4_22"] { background-position:-630px -90px; }

.covihelp_content_left .subbox li a i[data-icon="icon5_01"] { background-position:0px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_02"] { background-position:-30px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_03"] { background-position:-60px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_04"] { background-position:-90px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_05"] { background-position:-120px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_06"] { background-position:-150px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_07"] { background-position:-180px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_08"] { background-position:-210px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_09"] { background-position:-240px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_10"] { background-position:-270px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_11"] { background-position:-300px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_12"] { background-position:-330px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_13"] { background-position:-360px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_14"] { background-position:-390px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_15"] { background-position:-420px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_16"] { background-position:-450px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_17"] { background-position:-480px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_18"] { background-position:-510px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_19"] { background-position:-540px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_20"] { background-position:-570px -120px; }
.covihelp_content_left .subbox li a i[data-icon="icon5_21"] { background-position:-600px -120px;}
.covihelp_content_left .subbox li a i[data-icon="icon5_22"] { background-position:-630px -120px; }

.covihelp_content_left .subbox li a i[data-icon="icon6_01"] { background-position:0px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_02"] { background-position:-30px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_03"] { background-position:-60px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_04"] { background-position:-90px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_05"] { background-position:-120px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_06"] { background-position:-150px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_07"] { background-position:-180px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_08"] { background-position:-210px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_09"] { background-position:-240px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_10"] { background-position:-270px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_11"] { background-position:-300px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_12"] { background-position:-330px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_13"] { background-position:-360px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_14"] { background-position:-390px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_15"] { background-position:-420px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_16"] { background-position:-450px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_17"] { background-position:-480px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_18"] { background-position:-510px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_19"] { background-position:-540px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_20"] { background-position:-570px -150px; }
.covihelp_content_left .subbox li a i[data-icon="icon6_21"] { background-position:-600px -150px;}
.covihelp_content_left .subbox li a i[data-icon="icon6_22"] { background-position:-630px -150px; }

.covihelp_content_left .subbox li a i[data-icon="icon7_01"] { background-position:0px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_02"] { background-position:-30px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_03"] { background-position:-60px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_04"] { background-position:-90px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_05"] { background-position:-120px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_06"] { background-position:-150px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_07"] { background-position:-180px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_08"] { background-position:-210px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_09"] { background-position:-240px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_10"] { background-position:-270px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_11"] { background-position:-300px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_12"] { background-position:-330px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_13"] { background-position:-360px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_14"] { background-position:-390px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_15"] { background-position:-420px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_16"] { background-position:-450px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_17"] { background-position:-480px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_18"] { background-position:-510px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_19"] { background-position:-540px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_20"] { background-position:-570px -180px; }
.covihelp_content_left .subbox li a i[data-icon="icon7_21"] { background-position:-600px -180px;}
.covihelp_content_left .subbox li a i[data-icon="icon7_22"] { background-position:-630px -180px; }

.covihelp_content_left .subbox li a i[data-icon="icon8_01"] { background-position:0px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_02"] { background-position:-30px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_03"] { background-position:-60px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_04"] { background-position:-90px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_05"] { background-position:-120px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_06"] { background-position:-150px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_07"] { background-position:-180px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_08"] { background-position:-210px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_09"] { background-position:-240px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_10"] { background-position:-270px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_11"] { background-position:-300px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_12"] { background-position:-330px -210px; }
.covihelp_content_left .subbox li a i[data-icon="icon8_13"] { background-position:-360px -210px; }
