<!-- widget_approval_status -->

<div class="widget_card">
    <div class="widget_head">
        <h3 class="title"></h3>
    </div>
	<div class="widget_content">
		<div class="data">
			<a href="#" class="not a-icon"><span><spring:message code="Cache.lbl_apv_doc_approve2"/></span><em class="ui_badge"></em></a> <!-- 미결함 -->
			<a href="#" class="progress a-icon"><span><spring:message code="Cache.lbl_apv_doc_process2"/></span><em class="ui_badge"></em></a> <!-- 진행함 -->
			<!-- <a href="#" class="companion a-icon"><span><spring:message code="Cache.lbl_apv_doc_reject2"/></span><em class="ui_badge"></em></a>  --> <!-- 반려함 -->
			<a href="#" class="complete a-icon"><span><spring:message code="Cache.lbl_TCInfo"/></span><em class="ui_badge"></em></a> <!-- 참조/회람 -->
		</div>
	</div>
</div>


