<div class="widget_card">
    <div class="widget_head">
        <h3 class="title"></h3>
    </div>
    <div class="widget_content">
        <div class="tabs" role="tablist">
            <button type="button" class="tab" role="tab" aria-selected="true" id="widget_annual_leave_total_tab" aria-controls="widget_annual_leave_total_tab_panel"><span><spring:message code='Cache.lbl_TotalVacation'/></span></button><!-- 총 연차 -->
            <button type="button" class="tab" role="tab" aria-selected="false" id="widget_annual_leave_detail_tab" aria-controls="widget_annual_leave_detail_tab_panel"><span><spring:message code='Cache.lbl_Details'/></span></button><!-- 상세내역 -->
        </div>
        <div role="tabpanel" id="widget_annual_leave_total_tab_panel" aria-labelledby="widget_annual_leave_total_tab">
            <div class="info total">
                <dl id="annual_leave_planVacDay">
                    <dt><spring:message code='Cache.lbl_total'/> <spring:message code='Cache.lbl_apv_annual'/></dt> <!-- 총 연차 -->
                    <dd></dd>
                </dl>
                <dl id="annual_leave_useDays">
                    <dt><spring:message code='Cache.lbl_Use'/> <spring:message code='Cache.lbl_apv_annual'/></dt> <!-- 사용 연차 -->
                    <dd></dd>
                </dl>
                <dl id="annual_leave_remindDays">
                    <dt><spring:message code='Cache.lbl_n_att_remain'/> <spring:message code='Cache.lbl_apv_annual'/></dt> <!-- 잔여 연차 -->
                    <dd></dd>
                </dl>
            </div>
        </div>
        <div role="tabpanel" id="widget_annual_leave_detail_tab_panel" aria-labelledby="widget_annual_leave_detail_tab" hidden="hidden">
            <div class="info detail">
            </div>
        </div>
    </div>
</div>