<div class="widget_card">
    <div class="widget_head">
        <h3 class="title"></h3>
    </div>
    <div class="widget_content">
        <div class="selector">
            <select id="selGroupPath" class="ui_select_field"></select>
        </div>
        <div class="data">
            <a href="#" class="normal"><span><spring:message code='Cache.lbl_att_goWork'/></span><em class="ui_badge"></em></a> <!-- 출근 -->
            <a href="#" class="late"><span><spring:message code='Cache.lbl_att_beingLate'/></span><em class="ui_badge"></em></a> <!-- 지각 -->
            <a href="#" class="holidays"><span><spring:message code='Cache.lbl_Vacation'/></span><em class="ui_badge"></em></a> <!-- 휴가 -->
            <a href="#" class="reason"><span><spring:message code='Cache.lbl_n_att_absent'/></span><em class="ui_badge"></em></a> <!-- 결근 -->
        </div>
    </div>
</div>