<div class="widget_card">
	<div class="widget_head">
	    <h3 class="title">임직원 즐겨찾기</h3>
	    <div class="ui_help widget_help status_help">
	        <button type="button" class="help_toggle"><span>도움말</span></button>
	        <div class="help_message">
	            <p>[임직원 근무상태별 컬러 안내]<br /> 아래 4개의 컬러로 임직원 근무상태 표기가 됩니다.</p>
	            <ul>
	                <li><i class="status" data-status-color="green"></i><span>근무</span></li>
	                <li><i class="status" data-status-color="blue"></i><span>퇴근</span></li>
	                <li><i class="status" data-status-color="gray"></i><span>휴가</span></li>
	                <li><i class="status" data-status-color="red"></i><span>결근</span></li>
	            </ul>
	        </div>
    	</div>
	</div>
	
	<div class="widget_content" id="contents_employee_favorites">
		<div class="swiper widget_employee_favorites_swiper">
		</div>
	</div>
	
	<div class="profile" id="employeeInfoContents" hidden="hidden">
	</div>
</div>