
 <!--  EmployeesNotice.html - 임직원 소식 -->

<article class="staffNews">
	<div class="title">
		<h2 id="employeeTitle">
		 <spring:message code='Cache.lbl_Employees'/>
		 <span id="newsTitle" class="colorTheme">
		 	<spring:message code='Cache.lbl_news'/>
		 </span>
		</h2>
		<div class="staffNewsBtn">
			<a href="javascript:employeesNotice.getList('-')" class="staffNewsBtnLeft"></a><a href="javascript:employeesNotice.getList('+')" class="staffNewsBtnRight"></a>
		</div>
		<p class="staffNewsBtnTx"></p>
		<div class="inPerTitbox">
			<select class="selectType02" id="selMode"> 
				<option value="ALL"><spring:message code='Cache.btn_All'/></option>
			</select>
		</div>
		<a class="btnMainMore" id="boradURL" href="javascript:employeesNotice.goMoreList()">more +</a>
	</div>              
	<!-- 리스트목록 시작 -->                     
	<ul id="employeesNotice_list" class="clearFloat stafList">
		<li>
			<p class="stfIcon colorTheme"></p>
			<p class="staffPhoto"></p>
			<div class="flowerPopup">
				<p class="staffName"></p>
				<ul class="flowerMenuList">
					<li class="flowerProfile"></li>
					<li class="flowerMail"></li>
					<li class="flowerFollowing"></li>
					<li class="flowerTalk"></li>
					<li class="flowerAddr"></li>
				</ul>
			</div>
			<p class="date"></p>
		</li>
	</ul>
	<!-- 리스트목록 끝 -->
	<!-- 조회목록없음 시작 -->
	<div id="employeesNotice_NoDataList" class="ptype04_wp_none"><spring:message code="Cache.msg_NoDataList" /></div> <!-- 조회 할 목록이 없습니다. -->
	<!-- 조회목록없음 끝 -->
</article>

<script type="text/template" id="templateEmployeesNoticeCard">
<li class="{NoticekindClassName}">
	<div class="flowerPopup" onclick="coviCtrl.setFlowerName(this)" data-user-code="{UserCode}" data-user-mail="{MailAddress}">
		<p class="stfIcon colorTheme">
			<a href="#"  class="btnFlowerName">
			<strong class="fcStyle">{Name}</strong>
			</a>
		</p>
	</div>
	<div class="flowerPopup" onclick="coviCtrl.setFlowerName(this)" data-user-code="{UserCode}" data-user-mail="{MailAddress}">
		<p class="staffPhoto">
			<a href="#"  class="btnFlowerName"><img src="{profileImagePath}" alt="" onerror="coviCmn.imgError(this, true);" class="fcStyle"></a>	
		</p>
	</div>				
	<div class="flowerPopup" onclick="coviCtrl.setFlowerName(this)" data-user-code="{UserCode}" data-user-mail="{MailAddress}">
		<p class="staffName">
			<ahref="#"  class="btnFlowerName">
				<span class="fcStyle">{UserNameJob}</span>
			</a>
		</p>
	</div>
	<p class="date">{Date}</p>
</li>
</script>