
<!-- 상하분할형 임직원 소식 -->

<div class="ptype01_Pnews">
	<div class="ptype01_sday">
		<div id="employeeTitle newsTitle" class="ptype01_tab"> 
			<a class="ptype01_tab_normal" href="#">
				<span><spring:message code='Cache.lbl_Employees'/><spring:message code='Cache.lbl_news'/></span> 
			</a>
			<p class="ptype01_more"><a href="javascript:employeesNotice.goMoreList()"><spring:message code='Cache.lbl_MoreView'/>+</a></p>
		</div>
		<div class="ptype01_wp_height">
			<div class="ptype01_personnelnews">
				<!-- 리스트목록 시작 -->
				<ul id="employeesNotice_list">
				</ul>
				<!-- 리스트목록 끝 -->
				<!-- 조회목록없음 시작 -->
				<table id="employeesNotice_NoDataList" class="ptype01_sday_table" border="0" cellspacing="0" cellpadding="0" data-role="no-result" style="display: none;">
					<tbody>
						<tr>
							<td class="ptype01_wp_none"><spring:message code="Cache.msg_NoDataList" /></td> <!-- 조회 할 목록이 없습니다. -->
						</tr>
					</tbody>
				</table>
				<!-- 조회목록없음 끝 -->
			</div>
		</div>
	</div>
</div>

<script type="text/template" id="templateEmployeesNoticeCard">
<li>
	<a href="#">
 		<div class="ptype01_photo_box">
		<div class="ptype01_photo_new">
			<div style="background:url(/HtmlSite/smarts4j_n/customizing/Ptype01/images/project/img_default.jpg)no-repeat center,url({profileImagePath})no-repeat center;background-size: 63px 63px;"></div>
 		</div>
		</div>
		<div class="ptype01_text_box">
			<p class="ptype01_t_ct"><span class="txt_title">{Name}</span></p>						
			<p class="ptype01_P_sub"><span class="ptype01_txt_name">{UserNameJob}</span></p>
			<p class="ptype01_P_sub2">{Date_type2}</p>
		</div>
 	</a>
</li>
</script>