<div class="ptype01_wptop_w01">
	<div class="ptype01_pbox webpart">
		<div class="ptype01_wrap webpart-content">
			<div class="ptype01_mybox01">
				<table class="ptype01_ptable" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td width="280">
								<div class="ptype01_top_photo_box">
									<div id="webpart-profile-photo" style="background-size:100px auto;"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<p class="ptype01_t_title">
									<span class="ptype01_txt_name" id="webpart-profile-name"></span>
									<span class="ptype01_txt_position" id="webpart-profile-position"></span>
								</p>
								<p class="ptype01_P_sub" id="webpart-profile-team"></p>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="ptype01_myalert">
					<ul class="ptype01_myalert_list" id="webpart-profile-alim">
						<li class="ptype01_my01"><a href="#" data-role="Mail"><spring:message code='Cache.TodoMsgType_MessageNew' /><div class="ptype01_myalert_list_ex" data-role="count"></div></a></li>
						<li class="ptype01_my02"><a href="#" data-role="Approval_U_Approval"><spring:message code='Cache.lbl_apv_doc_approve2' /><div class="ptype01_myalert_list_ex" data-role="count"></div></a></li>
						<li class="ptype01_my05"><a href="#" data-role="Approval_U_Process"><spring:message code='Cache.lbl_apv_doc_process2' /><div class="ptype01_myalert_list_ex" data-role="count"></div></a></li>
						<li class="ptype01_my03"><a href="#" data-role="Schedule"><spring:message code='Cache.portal_TodaySchedule' /><div class="ptype01_myalert_list_ex" data-role="count"></div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>