<div class="ptype03_Uder webpart">
	<div class="ptype03_sday webpart-content">
		<div class="ptype03_profile_top">
			<div class="ptype03_profile_photo">
				<div id="webpart-profile-photo" style="background-size: 85px 85px;"></div>
			</div>
			<p class="ptype03_profile_name" id="webpart-profile-name"></p>
			<p class="ptype03_profile_team" id="webpart-profile-team"></p>
		</div>
		<div class="ptype03_profile_alim_wrap none" id="webpart-profile-alim">
			<a href="#" class="ptype03_profile_alim_link" data-role="Mail">
				<span class="ptype03_profile_alim_icon_mail"></span>
				<span class="ptype03_profile_alim_txt"><spring:message code='Cache.TodoMsgType_MessageNew' /></span>		<!-- 신규메일 -->
				<span class="ptype03_myalert_list_ex" data-role="count"></span>
			</a>
			<a href="#" class="ptype03_profile_alim_link" data-role="Approval">
				<span class="ptype03_profile_alim_icon_approval"></span>
				<span class="ptype03_profile_alim_txt"><spring:message code='Cache.MN_478' /></span>		<!-- 미결함 -->
				<span class="ptype03_myalert_list_ex" data-role="count"></span>
			</a>
			<a href="#" class="ptype03_profile_alim_link" data-role="Schedule">
				<span class="ptype03_profile_alim_icon_schedule"></span>
				<span class="ptype03_profile_alim_txt"><spring:message code='Cache.portal_TodaySchedule' /></span> <!-- 오늘일정 -->
				<span class="ptype03_myalert_list_ex" data-role="count"></span>
			</a>
		</div>
	</div>
</div>