<div class="ptype03_schedule webpart" id="wp_Schedule_Timelime">
	<div class="ptype03_sday webpart-content">
		<h3>일정</h3>
		<p class="ptype03_more"><a href="#"><img src="/HtmlSite/smarts4j_n/customizing/Ptype03/images/project/cv_more.gif" alt="More" title="More"></a></p>
		<div class="ptype03_sub_tab">
			<a href="#" class="off" data-role="before"><span><spring:message code='Cache.lbl_Yesterday'/></span></a>
			<a href="#" class="on" data-role="today"><span><spring:message code='Cache.lbl_Todays'/></span></a>
			<a href="#" class="off" data-role="after"><span><spring:message code='Cache.lbl_Mail_Tomorrow'/></span></a>
		</div>
		<div class="ptype03_schedule_cont_wrap">
			<div class="ptype03_schedule_top">
				<div class="ptype03_schedule_icon"></div>
				<div class="ptype03_schedule_top_txt">
		  			<p class="ptype03_schedule_top_date1"></p>
					<p class="ptype03_schedule_top_date2"></p>
				</div>
<!-- 				<p class="ptype03_schedule_top_weather"> -->
<!-- 					<span class="ptype03_schedule_top_weather_icon"><img src="/HtmlSite/smarts4j_n/customizing/Ptype03/images/project/ico_weather02.png">서울 17℃</span> -->
<!-- 				</p> -->
			</div>
			<ul class="ptype03_schedule_list" id="schedule_timeline_list"></ul>
			<p class="ptype03_wp_none" id="schedule_timeline_none"style="display:none;"><spring:message code='Cache.msg_NoDataList'/></p>
		</div>
	</div>
</div>

<script type="text/template" id="template_schedule_timeline_item">
<li class="ptype03_read">
	<span class="ptype03_schedule_dot"></span>
	<p class="ptype03_txt_title">{title}</p>
	<p class="ptype03_txt_time">{time}</p>
</li>
</script>