<div class="ptype01_wptop_w05">
	<!-- 일정 시작 -->
	<div class="ptype01_schedule webpart" id="schedule_calendar">
		<div class="PLinkCalendarcont webpart-content">
			<div class="scheduleMenu">
				<!-- 달력 시작 -->
				<div class="covi-calendar-container" id="wp_calendar"></div>
				<!-- 달력 끝 -->
			</div>
			<div class="PLinkCalendartimelinewrap">
				<div class="PLinkCalendartimeline mScrollV scrollVType01" data-role="result">
					<ul id="schedule_calendar_list"></ul>
				</div>
				<table class="ptype01_sday_table" border="0" cellspacing="0" cellpadding="0" data-role="no-result" style="display:none; height: 251px;">
					<tbody>
						<tr>
							<td class="ptype01_wp_none"><spring:message code='Cache.lbl_NoRegistSchedule' /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 일정 끝 -->
</div>

<script type="text/template" id="template_schedule_calender_li">
<li onclick="javascript:{link}">
	<a href="#">
		<span class="btnType02" style="background-color: {color};">{folderName}</span>
		<span class="calcont">{startTime} {subject}</span>
	</a>
</li>
</script>

<script type="text/template" id="template_schedule_none">
<li class="ptype01_wp_none">{noneMsg}</li>
</script>