<div class="widget_card">
    <div class="widget_head">
    </div>
    <div class="widget_content" id="wdg_vacation_info">
        <div class="holidays horizontal">
            <div class="title"><span><spring:message code='Cache.lbl_TotalHolidayDay'/></span> <em></em></div> <!-- 총 휴가일 -->
            <div class="info">
                <dl class="use">
                    <dt><spring:message code='Cache.lbl_Use'/></dt> <!-- 사용 -->
                    <dd></dd>
                </dl>
                <dl class="remaining">
                    <dt><spring:message code='Cache.lbl_n_att_remain'/></dt> <!-- 잔여 -->
                    <dd></dd>
                </dl>
            </div>
        </div>
    </div>
</div>