<div class="portal_smart" id="mobileDoor">
         <div class="greetings">
             <p><strong></strong><spring:message code="Cache.PT_GreetMsg"/></p>
         </div>
         <div class="count">
             <div>
                 <dl id="mailCnt">
                     <dt><spring:message code="Cache.CPMail_mail_inbox" /></dt>
                     <dd><a id="door_mail"  href="javascript:mobile_comm_go('/mail/mobile/mail/List.do')">0</a></dd>
                 </dl>
                 <dl>
                     <dt><spring:message code="Cache.lbl_TodaySchedule" /></dt>
                     <dd><a id="door_schedule"  href="javascript: mobile_comm_go('/groupware/mobile/schedule/month.do?viewtype=M')">0</a></dd>
                 </dl>
             </div>
             <div>
                 <dl>
                     <dt><spring:message code="Cache.lbl_apv_doc_approve2" /></dt>
                     <dd><a id="door_approval"  href="javascript:mobile_comm_go('/approval/mobile/approval/list.do')">0</a></dd>
                 </dl>
             	<dl>
                     <dt><spring:message code="Cache.lbl_apv_doc_process2" /></dt>
                     <dd><a id="door_apping"  href="javascript:mobile_comm_go('/approval/mobile/approval/list.do?mode=Process')">0</a></dd>
                 </dl>
                 <dl>
                     <dt><spring:message code="Cache.lbl_TCInfoListBox" /></dt>
                     <dd><a id="door_appre" href="javascript:mobile_comm_go('/approval/mobile/approval/list.do?mode=TCInfo')">0</a></dd>
                 </dl>   
             </div>
         </div>
</div>
